* {
    box-sizing: border-box;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #FFF0F0;
    text-decoration: none;
    cursor: pointer;
}

html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    margin:0;
    width:100%;
    background-color: #3F3F4A;
}

.App {
    height: 100vh;
    display:flex;
    flex-direction:column;
}

.App .app-content {
    height:100%;
}

.btn {
    border-style: solid;
    border-color: #837483;
    border-radius: 5px;
    border-width: 1px;
    background-color: #373747;
    padding: 6px;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
}
.btn:hover {
    color: #C3C0C0;
    background-color: #363643;
    border-color: #C3C0C0;
}

.btn.mar-la {
    margin-left: auto;
}

.btn.mar-ra {
    margin-right: auto;
}

.btn.btn-compact-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn.btn-compact-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@media only screen and (max-width: 600px) {
    .App {
        flex-direction: column-reverse;
    }
    .App .app-content {
        margin-bottom: 4rem;
    }
}