.article {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height:0;
    overflow: hidden;
    transition: max-height 1s ease;

}

.article.open {
    max-height:100vh;
    transition: max-height 1s ease;
}

.article.close {
    max-height:100vh;
}

.article.show {
    max-height:none;

}

.article .content {
    width: 80vw;
    text-align:left;
    line-height: 1.5;
}

.article .code {
    padding: 10px;
    background-color: #3A3B3B;
    color: lightgray;
    border-radius: 5px;
    margin: 20px;
}

.article .h1 {
    font-size: 24px;
    font-weight:bolder;
    margin-top: 20px;
    margin-bottom: 10px;
}

.article .li {
    margin-left: 10px;
}

.article a {
    color: #ACACFF;
}