.ArticleEditor textarea {
    width:100%;
    height: 35vh;
    border-style: solid;
    border-color: lightgray;
    border-radius: 2px;
    border-width: 2px;
    padding: 0.4em 0.4em 0.4em 0;
    text-align: left;
}

.ArticleEditor .toolbar {
    width: 100%;
    height: 56px;
    display: flex;
}

.ArticleEditor .toolbar .btn {
    color: white;
    background-color: darkgreen;
    text-align: center;
    align-items:center;
    justify-content: center;
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
}
.ArticleEditor .toolbar .btn:hover{
    background-color: #005400
}

.ArticleEditor .article .open {
    max-height:100vh;
}

.ArticleEditor .article .Close {
    max-height:100vh;
}

.ArticleEditor .article {
    max-height:100vh;
}