.article {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.article .content {
    width: 80vw;
    text-align:left;
}

.article .code {
    padding: 10px;
    background-color: #3A3B3B;
    color: gray;
    border-radius: 5px;
    margin: 10px;
}

.article .h1 {
    font-size: 24px;
    font-weight:bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}