.card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 85vw;
    margin:0 !important;
}

.card .title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 48px;
    color: #3D3D3D;
}

.card .content-box {
    text-align:left;
    font-size:x-large;
    margin-right: 2rem;
    margin-top: 2rem;
}

.card img {
    display: none;
}

.card img.show {
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: #A5B2A4;
    border-radius: 5px;
    padding: 2px;
    max-height: 10rem;
    width: 10rem;
    margin: auto;
    background-color: #FAFAFF
}

.card .skill-row {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.card .skills-label {
    display:flex;
    align-items: center;
    font-size: larger;
}

.card .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.card .skill {
    padding: 5px;
    margin: 2px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #756B6A;
    color: #DAD4DF;
    font-size: medium;
}

@media only screen and (max-width: 600px) {

    .card {
        flex-direction: column-reverse;
    }

    .card .content-box {
        font-size: large;
        margin-top: 1rem;
        margin-right:0;
    }

    .card img.show {
        margin-bottom: 50px;
    }

    .card .title {
        font-size: 28px;
    }

}