.Github {
    background-color: #3F3F4A;
    color: #AA9AA0;
}

.repo-list {
    display:flex;
    flex-direction: column;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5.5rem;
}

.repo {
    border-top-style: solid;
    border-top-color: #A4A4A1;
    border-top-width:2px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
}

.repo .title {
    color: #BF8D8C !important;
    font-size: 28px;
    margin-top: 10px;
    font-weight:bold;
    width:fit-content;
    width:-moz-fit-content;
    text-align:start;
    padding:5px;
    border-radius: 3px;
}

.repo .title:hover {
    color: black;
}

.repo .content {
    display:flex;
    flex-direction: row;
    align-items:center;
    font-size: x-large;
}

.repo .website {
    height:fit-content;
    height: -moz-fit-content;
    background-color: #5A5A5C;
    color: white;
    border-radius: 10px;
    padding:10px;
    align-items:center;
    text-align: center;
    width: 88px;
    font-size: large;
}

.repo .description {
    flex-grow: 1;
    padding:5px;
}

.repo .languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.repo .language {
    padding: 5px;
    margin: 2px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #756B6A;
    color: #DAD4DF;
    font-size: medium;
}

.repo .time {
    padding: 5px;
    width: 100%;
    text-align: start;    
}

.content {
    margin: 25px;
    text-align: center;
}

.loading {
    font-size: xxx-large;
}

.avatar {
    border-radius: 10rem;
    height: 10rem;
    width: 10rem;
}

@media only screen and (max-width: 600px) {

    .repo .content {
        flex-direction: column;
    }
    .repo .times {
        font-size: 16px;  
    }
}