.repo-list {
    display:flex;
    flex-direction: column;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.repo {
    border-top-style: solid;
    border-top-color: #A4A4A1;
    border-top-width:2px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
}

.repo .title {
    margin-top: 10px;
    color: #3A4ADC;
    font-weight:bold;
    width:fit-content;
    width:-moz-fit-content;
    text-align:start;
    padding:5px;
    border-radius: 3px;
}

.repo .title:hover {
    color: black;
}

.repo .content {
    display:flex;
    flex-direction: row;
    align-items:center;
}

.repo .website {
    height:fit-content;
    height: -moz-fit-content;
    background-color: #5A5A5C;
    color: white;
    border-radius: 10px;
    padding:10px;
    align-items:center;
    text-align: center;
    width: 88px;
}

.repo .description {
    flex-grow: 1;
    padding:10px;
}