* {
    box-sizing: border-box;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #FFF0F0;
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    margin:0;
    width: 100vw;
    overflow-x: hidden;

}

.App {
    height: 100vh;
    display:flex;
    flex-direction:column;
}

.Home {
    flex-grow: 1;
    height: auto;
}

