.theater {
    display: grid;
    place-items:center;
    grid-template-areas: "inner-div";
}

.theater-bg {
    height: 94vh;
    width:100vw;
    background-size: 110vw;
    background-image: url('../../img/background.webp');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index:0;
    grid-area: inner-div;
}

.theater-content {
    text-shadow: 0px 0px 2px black;
    text-align: center;
    z-index:1;
    color: #FAFCF0;
    grid-area: inner-div;
    font-weight:bolder;
    width: 50vw;
    line-height: 20px;
    letter-spacing: 1px;
}

.theater-content a {
    color: #CFCFBA;
}