.intro {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
}

.intro.start {
    color:white;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.intro .previous {
    opacity: 0;
    height:0;
    width:100vw;
    display: flex;
    position:fixed;
    transition: opacity 500ms ease-out, height 500ms ease-out, top 500ms ease-out;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
}

.intro .current {
    z-index: 10;
    opacity: 1;
    height:100vh;
    width:100vw;
    display: flex;
    position:fixed;
    transition: opacity 500ms ease-in, height 500ms ease-in, top 500ms ease-in;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
}

.intro .next {
    opacity: 0;
    height:0;
    width:100vw;
    display: flex;
    position:fixed;
    transition: opacity 500ms ease-out, height 500ms ease-out, top 500ms ease-out;
    top:100vh;
    left:0;
    justify-content: center;
    align-items: center;
}

.notrans {
    transition: none !important;
}

.intro .children {
    width: 80vw;
}

.intro .title {
    padding: 10px;
}

.intro .content {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.intro .children a {
    color: #C4C4C4
}

.intro .navbutton {
    z-index: 12;
    font-size: 48px;
    width: 100%;
    top:0;
    left: 50%;
    background-color: rgba(45, 45, 45, 0.40);
    display:flex;
    align-items: center;
    justify-content: center;

}

.intro .navbutton.bottom {
    margin-top: auto;
}