.modal {
    display:flex;
    width:0;
    height: 100vh;
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
    opacity: 0;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease-out 50ms, width 300ms ease-out 50ms, background-color 80ms ease-out;
}
.modal.hide * {
    visibility: hidden;
    transition: visibility 300ms;

}

.modal.show {
    display:flex;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 1;
    transition: opacity 300ms ease-in, width 300ms ease-in, background-color 300ms ease-in 200ms;
}

.modal .box {
    border: 2px solid #544545;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
}

.modal .title {
    font-size: 28px;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form * {
    margin-top: 10px;
}

.modal form button {
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    width:fit-content;
    height: fit-content;
}

.modal textarea {
    display:flex;
    text-align: flex-start;
    justify-content: flex-start;
}

.modal textarea.large {
    height: 10rem;
    width: 20rem;
}

@media only screen and (max-width: 600px) {

    .modal .box {
        border: 2px solid #544545;
        border-radius: 10px;
        background-color: white;
        padding: 25px;
        max-width: 80vw;
    }

    .modal textarea.large {
        height: 15rem;
        width: auto;
    }

}