.Navigation {

    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #3F3F4A;
    border-color: gray;
    border-bottom-style: solid;
    margin:0;
    padding:0;
}

.Navigation a, .Navigation button {
    border: none;
    color: #CFC0C0 !important;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    height:70px;
    transition: background-color 250ms ease-in, height 250ms ease-in;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
    background-color: inherit;
}

.Navigation a:hover, .Navigation button:hover {
    background-color: #2F2F32;
    height: 90px;
    transition: background-color 300ms ease-out, height 300ms ease-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Navigation .end {
    margin-left: auto;
    margin-right: 25px;
}