.Navigation {
    height: 5vh;
    display: flex;
    flex-direction: row;
    background-color: #3F3F4A;
    border-color: gray;
    border-bottom-style: solid;
    margin:0;
    padding:0;
}

.Navigation a {
    color: #CFC0C0 !important;
    padding:10px;
}

.Navigation a:hover {
    border-bottom-style: solid;
    border-color: black;
    background-color: #2F2F32;
}