.Social {
    background-color: #3D3C3F;
    min-height: 100vh;
    color: #AA9AA0;
    width:100vw;
    display:flex;
    flex-direction:column;
}

.Social .links {
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
    align-items: flex-start;
    width:75vw;
    margin-left: auto;
    margin-right: auto;
}

.Social .links img {
    width: 10rem;
}

.Social .links * {
    margin: 10px;
}