.theater {
    display: grid;
    place-items:center;
    grid-template-areas: "inner-div";
}

.theater.h-100 {
    height:100%;
}

.theater.h-50v {
    height:50vw;
}

.theater-bg {
    
    height: 100%;
    width:100vw;
    background-size: cover;
    background-image: url('../../img/background.webp');
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index:0;
    grid-area: inner-div;
}

.theater.peak .theater-bg {
    height: 85vh;
}

.theater-content {
    display:flex;
    flex-direction: column;
    text-shadow: 0px 0px 2px black;
    text-align: center;
    z-index:1;
    color: #FAFCF0;
    grid-area: inner-div;
    font-weight:bolder;
    max-width: 100vw;
    width:100vw;
    background: rgba(76, 76, 80, 0.75);
    align-items: center;
}

.theater-content p,h1 {
    width: 50vw;
}

.theater-content a {
    color: #CFCFBA !important;
}